@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/components/panel.sass";
@import "node_modules/bulma/sass/components/modal.sass";
@import "node_modules/bulma/sass/elements/title.sass";

.main-content {
    margin: 15px auto;
}

.help {
    &__notation {
        display: flex;
        &__icon {
            flex: 1;
        }
        &__description {
            flex: 9;
        }
    }
}

.clickable {
    cursor: pointer;
}