@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/layout/_all.sass";

@import "node_modules/bulma/sass/components/modal.sass";
@import "node_modules/bulma/sass/components/panel.sass";

// @import "breadcrumb.sass"
// @import "card.sass"
// @import "dropdown.sass"
// @import "level.sass"
// @import "media.sass"
// @import "menu.sass"
// @import "message.sass"
// @import "modal.sass"
// @import "nav.sass"
// @import "navbar.sass"
// @import "pagination.sass"
// @import "panel.sass"
// @import "tabs.sass"

@import "node_modules/bulma/sass/elements/box.sass";
@import "node_modules/bulma/sass/elements/form.sass";
@import "node_modules/bulma/sass/elements/icon.sass";
@import "node_modules/bulma/sass/elements/tag.sass";
@import "node_modules/bulma/sass/elements/title.sass";

// @import "box.sass"
// @import "button.sass"
// @import "container.sass"
// @import "content.sass"
// @import "form.sass"
// @import "icon.sass"
// @import "image.sass"
// @import "notification.sass"
// @import "progress.sass"
// @import "table.sass"
// @import "tag.sass"
// @import "title.sass"

.main-content {
    margin: 15px auto;
}

.help {
    &__notation {
        display: flex;
        &__icon {
            flex: 1;
        }
        &__description {
            flex: 9;
        }
    }
}

.is-clickable {
    cursor: pointer;
}